#flash-message {
    border: 1px solid red;
    border-radius: 2px;
    padding: 10px;
    margin: 20px;
    background-color: #ff470063;
    color: darkred;
    font-weight: bold;
}

#contest-container {
    max-width: 800px;
    padding: 30px 40px;
    margin: 30px auto;
    background-color: whitesmoke;
    border-radius: 5px;
}

#heading {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
    margin-left: 13px;
}

#inner-container {
    padding: 30px;
    background-color: #e3f2fd;
    border-radius: 5px;
}

.labels {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: brown
}

.form-row {
    padding-top: 20px;
}

.btn-info {
    width: 50%;
}

#prize-list {
    margin-top: 20px;
}