<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/header %>

    <title>Contests</title>

    <!-- Menu Bar CSS -->
    <link rel="stylesheet" href="/css/menu-bar.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/contests.css">

</head>

<body>
    <!-- Navbar -->
    <% include ./partials/navbar %>
    <!-- Menu Bar -->
    <% include ./partials/menu-bar %>

    <!-- Upcoming contests container -->
    <div class="container contests-container">
        <!-- Heading -->
        <h3 class="sub-header text-center mb-2">Upcoming Contests</h3>

        <!-- List Header -->
        <div class="row list-header">
            <div class="col-5">Contest Name</div>
            <div class="col-6">Start Time</div>
            <div class="col-1">Duration</div>
        </div>
        <!-- List Item for each contest -->
        <% contests.forEach(contest => { %>
            <a href="/contests/<%= contest._id %>" class="list-item">
                <div class="row">
                    <div class="col-sm-5"><%= contest.name %></div>
                    <div class="col-sm-6"><%= contest.startTime %></div>
                    <div class="col-sm-1"><%= contest.duration %></div>
                </div>
            </a>
        <% }) %>
    </div>
</body>

</html>