<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/header %>
    
    <title>Coding Brains</title>

    <!-- Menu Bar CSS -->
    <link rel="stylesheet" href="/css/menu-bar.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    
    <!-- Custom JS -->
    <script src="/js/index.js"></script>

</head>

<body>
    <% include ./partials/navbar %>

    <% include ./partials/menu-bar %>

</body>

</html>