<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Contest</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/contest/new.css">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/contest/new.js"></script>

</head>
<body>
    <h1>Create Contest</h1>
    <div class="container">
        <div id="flash-message" style="display:none;"></div>
        <!-- Contest Name -->
        <label for="name">Contest Name: </label>
        <input type="text" name="name" id="name">
        <!-- Start Time -->
        <label for="startTime">Start Time: </label>
        <input type="datetime-local" name="startTime" id="startTime">
        <!-- Duration -->
        <label for="duration">Duration: </label>
        <input type="number" name="duration" id="duration" step="0.5">

        <!-- List of Prizes -->
        <div>
            <h3>Prizes</h3>
            <!-- Add Prize Form -->
            <form id="add-prize-form">
                <input id="add-prize-input" type="text" placeholder="Enter a Prize">
                <button id="add-prize-btn">+</button>
            </form>
            <ul id="prize-list">
                <span id="temp-message">Add a Prize to the Contest</span>
            </ul>
        </div>
        
        <!-- Submit Button -->
        <button id="submitBtn">Submit</button>
    </div>
</body>
</html>