<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header %>

    <title>Create Contest</title>

    <!-- Menu Bar CSS -->
    <link rel="stylesheet" href="/css/menu-bar.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/contest/new.css">

    <!-- Moment CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>

    <!-- Custom Script -->
    <script src="/js/contest/new.js"></script>

</head>

<body>
<!-- Navbar -->
<% include ../partials/navbar %>

<!-- Menu Bar -->
<% include ../partials/menu-bar %>

<!--Main Container-->
<div class="container" id="contest-container">
    <!--Heading-->
    <h3 id="heading">Create a New Contest</h3>
    <div class="container" id="inner-container">
        <!--Flash Message-->
        <div id="flash-message" style="display:none;"></div>

        <!--Add contest name-->
        <div class="form-row">
            <label for="name" class="labels">Contest Name</label>
            <input type="text" class="form-control is-valid" name="name" id="name" placeholder="Contest Name" required>
        </div>

        <!--Add start time-->
        <div class="form-row">
            <label for="startTime" class="labels">Start Time</label>
            <input type="datetime-local" name="startTime" class="form-control is-valid" id="startTime" placeholder="Start Time" required>
        </div>

        <!--Add duration-->
        <div class="form-row">
            <label for="duration" class="labels">Contest Duration</label>
            <input type="number" class="form-control is-valid" name="duration" id="duration" step="0.5" placeholder="Duration" required>
        </div>

        <!--Add prizes-->
        <div class="form-row">
            <label for="add-prize-input" class="labels">Prizes</label>
        </div>
        <div class="form-row">
            <form id="add-prize-form">
                <div class="row">
                    <div class="col-sm-8">
                        <input id="add-prize-input" type="text" placeholder="Enter a Prize" class="form-control is-valid">
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-danger" id="add-prize-btn">+</button>
                    </div>
                </div>
                <ul id="prize-list">
                    <span id="temp-message">Add a Prize to the Contest</span>
                </ul>
            </form>
        </div>

        <!--Submit-->
        <div class="form-row">
            <div class="col-sm-8">
                <button id="submitBtn" class="btn btn-info">Submit form</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>